  -# = render 'ヘッダーのファイル先'

  -# メインの部分
  = form_with(model: @item, local: true, multipart: true) do |f|
    .sell__container
      .sell__container__main
        .sell__container__main__wrapper
          .sell__container__main__wrapper--head
            %h2 商品の情報を入力


            -# 画像投稿フォーム
          .sell__container__main__wrapper__sell-upload
            %label
              出品画像
            %span.form-require
              必須
            %p 最大10枚までアップロードできます
          #image-box
            #previews
              - if @item.persisted?
                - @item.item_images.each_with_index do |image, i|
                  = image_tag image.imagesrc, data: { index: i }, width: "100", height: '100'

                -# 画像投稿フォームを整理したらcameraアイコンの設置箇所を正す
                %i.fas.fa-camera

                -# 商品名の部分
        .sell__container__main__form
          .sell__container__main__form__group
            %label
              商品名
              %span.form-require
                必須
              = f.text_field :name, class: "sell__container__main__form__group__input", placeholder: "40文字まで"
            %label
              商品の説明
              %span.form-require
                必須
            = f.text_area :description, { class: 'sell__textarea-default', placeholder: '商品の説明(必須 1,000文字以内)(色、素材、重さ、定価、注意点など)例)2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。', rows: '5' }
            = render partial: 'error-messages', locals: {product: f.object, column: 'name'}

            -# 商品の詳細部分
        .sell__container__main__form.clearfix
          %h3.sell__container__main__form__sub-head 
            商品の詳細
          .sell__container__main__form__box
            .sell__container__main__form__box__category
              %label
                カテゴリー
                %span.form-require
                  必須
                  -# ancestryで設定したあとコーディング
                  %i.fas.fa-angle-down
            .sell__container__main__form__box__brand
              %label
                ブランド
                  %span.form-require_brand
                    任意
              .sell__container__main__form__box__brand__select
                = f.fields_for :brand do |b|
                  = b.text_field :name, placeholder: '例）シャネル'
            .sell__container__main__form__box__condition
              %label
                商品の状態
                %span.form-require
                  必須
              .sell__container__main__form__box__condition__select
                = f.select :condition, Item.conditions.keys, {prompt: "---"},{class:"  "}

          -# 配送についての部分
        .sell__container__main__delivery
          %h3.sell__container__main__delivery__sub-head
            配送について
          = link_to "#"
          .sell__container__main__delivery__box
            .sell__container__main__delivery__box__top
              %label
                配送料の負担
                %span.form-require
                  必須
              .sell__container__main__delivery__box__select
                = f.select :fee_burden, Shipping.fee_burdens.keys, {prompt: "---"},{class: " "}
            .sell__container__main__delivert__box__middle
              %label
                発送元の地域
                %span.form-require
                  必須
              .sell__container__main__delivery__box__select
                = f.select :area, Shipping.areas.keys, {prompt: "---"},{class: " "}
            .sell__container__main__delivery__box__bottom
              %label
                発送までの日数
                %span.form-require
                  必須
              .sell__container__main__delivery__box__select
                = f.select :handling_time, Shipping.handling_times.keys, {prompt: "---"},{class: " "}

          -# 価格の部分
        .sell__container__main__price
          %h3.sell__container__main__price__sub-head
            販売価格(¥300~9,999,999)
            -# link_toを追加
            



          -# 出品する,下記に保存,もどるのボタンの部分


          -# = render 'フッターのファイル先'

